.border {
  border: 1px solid white;
  background-color: aliceblue;
  border-radius: 10px;
}

img.cloud {
  width: 150px;
  height: 150px;
}

.primaryContentPanel {
  height: 375px;
  border: 1px dashed #ccc;
}
.loader {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
